[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/kitty/kitty-themes"]
	path = config/kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule "misc/aspell-computer-dict"]
	path = misc/aspell-computer-dict
	url = git@github.com:alexey-martynov/aspell-dictionaries.git
[submodule "github-gitignore"]
	path = config/doom/templates/gitignore
	url = git@github.com:github/gitignore.git
[submodule "fedora/pop-theme/gtk-theme"]
	path = linux/gnome/pop-theme/gtk-theme
	url = https://github.com/pop-os/gtk-theme
[submodule "gnome/firefox-gnome-theme"]
	path = linux/gnome/firefox-gnome-theme
	url = https://github.com/rafaelmardojai/firefox-gnome-theme/
[submodule "linux/gnome/pop-shell"]
	path = linux/gnome/pop-shell
	url = https://github.com/pop-os/shell
[submodule "emacs/build/emacs"]
	path = emacs/build/emacs
	url = git@github.com:emacs-mirror/emacs.git
[submodule "i3-starterpack"]
	path = i3-starterpack
	url = https://github.com/addy-dclxvi/i3-starterpack.git
