.idea
*.iml
lib
.classpath
.project
massim-2016-1.0/
*.DS_Store
Package\ Control.cache
Package\ Control.last-run
*.crt
*.merged-ca-bundle
.zsh_history
*.system-ca-bundle
*.log
.vim/plugged/
.vim/.netrwhist
