.idea
*.iml
lib
.classpath
.project
massim-2016-1.0/
*.DS_Store
Package\ Control.cache
Package\ Control.last-run
*.crt
*.merged-ca-bundle
.zsh_history
*.system-ca-bundle
*.log
nvim/plugged/
nvim/.netrwhist
.vim_runtime
.python-environments
eshell/
elpa/
auto-save-list/
ac-comphist.dat
.emacs.d/configuration.el
network-security.data
projectile-bookmarks.eld
smex-items
places
bookmarks
/emacs/.emacs.d/configuration.el
*~
/setup_python.sh
/setup_tmux.sh
tags
/config/nvim/plugged/
