# RULES
kwmc rule owner="Simulator" properties={float="true"}
kwmc rule owner="Photoshop" properties={float="true"}

kwmc rule owner="iTunes" properties={display="0"}
kwmc rule owner="GitUp" properties={display="0"}

